<!--상단 배너-->
<%
var items =[];
for(var i=0; i<4; i++) {
    items[i]='hide';
}
    items[current]='current';
%>
<div class="banner">
    <img src="Images/AppLogo(temp).png" id="app_icon">
    <div id="menu">
        <div class="menu_item" onclick="location.herf='/Main'">
            <a href="/Main"><h3>서비스 소개</h3></a>
            <hr class="<%=items[0]%>">
        </div>
        <div class="menu_item">
            <a href="/Personal"><h3>개인 조회</h3></a>
            <hr class="<%=items[1]%>">
        </div>
        <div class="menu_item">
            <a href="/Company"><h3>기업 조회</h3></a>
            <hr class="<%=items[2]%>">
        </div>
        <div class="menu_item">
            <h3>연락처</h3>
            <hr class="<%=items[3]%>">
        </div>
    </div>
</div>