<!DOCTYPE html>
<html>

<head>
    <% include Head %>
</head>

<body class="body">
    <%include Banner %>

    <div class="div_big blur">
      <div class="div_middle_left blur">

      </div>
    </div>
</body>