<!DOCTYPE html>
<html>

<head>
    <% include Head %>
    <script>
        $(function () {
            $("#submit_btn").click(function () {
                input_check();
            });
            $("#password").keydown(function (key) {
                if (key.keyCode == 13)
                    input_check();
            });
        });

        function input_check() {
            console.log('checkinput');
            console.log($("#ID").val());
            if ($("#ID").val() == "") {
                alert("아이디를 입력하세요");
                return;
            } else if ($("#password").val() == "") {
                alert("비밀번호를 입력하세요");
                return;
            } else {
                $("#form_login").submit();
            }
        }
    </script>
</head>

<body class="body">
    <% include Banner %>

    <!--로그인 폼-->
    <div class="blur div_center">
        <h2>로그인</h2>
        <form method="POST" action="/Company/Loign" id="form_login">
            <input class="default_input width300" name="ID" type="text" placeholder="아이디를 입력하세요" id="ID"><br><br>
            <input class="default_input width300" name="password" type="password" placeholder="비밀번호를 입력하세요"
                id="password"><br><br>
            <input type="button" id="submit_btn" class="default_input width300" value="로그인" />
        </form>
    </div>
    </div>
</body>

</html>