<!DOCTYPE html>
<html>

<head>
    <% include Head %>
</head>

<body class="body">
    <% include Banner %>
    <div class="card" style="margin-left: 10%; margin-right: 10%;">
        <div class="card-body">
            <h3 class="card-title">만든 사람들</h3>
            <div class="card-body">
                <h4 class="card-title">오상철</h4>
                <p class="cart-text"><a href="tel:010-7179-9180">mobile: 010-7179-9180</a></p>
                <p class="cart-text">e-mail: </p>
            </div>
            <div class="card-body">
                <h4 class="card-title">이기현</h4>
                <p class="cart-text"><a href="tel:010-4154-3122">mobile: 010-4154-3122</a></p>
                <p class="cart-text">e-mail: </p>
            </div>
            <div class="card-body">
                <h4 class="card-title">이산해</h4>
                <p class="cart-text"><a href="tel:010-6346-1686">mobile: 010-6346-1686</a></p>
                <p class="cart-text"><a href="mailto:mtsealove0927@gmail.com">e-mail: mtsealove0927@gmail.com</a></p>
            </div>
        </div>
    </div>
</body>

</html>