<!DOCTYPE html>
<html>
    <head>
        <% include Head %>
    </head>
    <body class="body">
        <% include Banner%>
        <div class="blur div_center">
            <img class="box" src="Images/warning.png" />
            <p class="label">데이터가 존재하지 않습니다.</p>
            <p class="label">정확한 송장번호를 입력하세요.</p>

            <a href="javascript:history.go(-1)"><em>돌아가기</em></a>
        </div>
    </body>
</html>