<!DOCTYPE html>
<html>

<head>
  <% include Head %>
  <script>
    $(function () {
      $('#companyBtn').click(function () {
        location.href = '/Company';
      });
      $('#companyInput').click(function () {
        location.href = '/Company';
      });
    });
  </script>

  <% //로그인 시 텍스트 변경
  if(userID) { %>
  <script>
    $(function () {
      $('#companyInput').text('기업조회 바로가기');
    });
  </script>
  <% } %>
</head>

<body class="body">
  <% include Banner %>
  <!--개인 및 기업 택배 조회-->
  <div class="card-deck d-flex justify-content-center">
    <div class="col-xl-6">
      <div class="card-deck">
        <% include Personal_form %>
        <div class="card" style="max-width: 22rem;">
          <div class="test"><img src="Images/company.png" class="card-img-top" style="padding: 50px" alt="..."></div>
          <div class="card-body">
            <h3 class="card-title">기업 택배 조회</h3>
            <p class="card-text">저희 서비스를 이용중인 기업 분들의 통합 조회 서비스입니다 </p>
            <form class="form-inline">
              <div class="form-group mb-2">
                <label for="exampleInputPassword1"></label>
                <button type="button" class="form-control" id="companyInput">로그인이 필요한 서비스입니다</button>
              </div>
              <button type="button" class="btn btn-primary mb-2" id="companyBtn">go</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</body>

</html>