<!DOCTYPE html>
<html>

<head>
    <% include Head %>
</head>

<body class="body">
    <% include Banner %>

    <!--개인 택배 조회-->
    <% include Personal_form %>

    <!--기업 택배 조회-->
    <div class="blur div_right">
        <img src="Images/company.png" class="box" />
        <h3>기업 택배 조회</h3>
        <p class="label">저희 서비스를 이용중인 기업 분들의 통합 조회 서비스입니다</p>
                <table id="need_login">
                    <tr>
                        <td colspan="20">로그인이 필요한 서비스입니다</td>  
                        <td colspan="1" style="background-color: #62A94A">go</td>
                    </tr>
                </table>
    </div>
</body>

</html>